* {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--background_color);
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: minmax(var(--altura_opciones_bar), auto) 1fr;
    grid-template-areas:
    "option_bar  option_bar"
    "super_bar lateral_bar ";
}

nav { // Barra de opciones.
    grid-area: option_bar;
    padding: 2px 5px;
    color: white;
    display: inline-flex;
    background-color: var(--nav_color_background);
    .main_icono {
        display: block;
        min-height: 12px;
        height: 100%;
        max-height: 36px;
    }


    button, label {
        display: flex;
        align-items: center;
        padding: 0px 5px;
        margin: 0px 5px;
        outline: none;
        background-color: transparent;
        border-color: transparent;
        border-radius: var(--radius_border_value);
        text-align: center;

        &:hover {
            background-color: var(--button_shadow_color);
        }

        #open_video{
            display: none;
        }
    }
}   

aside {
    margin: 0px 5px;
    --internal_element_padding: 10px;
    border-radius: var(--radius_border_value);
    grid-area: lateral_bar;
    border: 1px solid var(--border_queue_color);

    h1 {
        border-radius: var(--radius_border_value);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 0px var(--internal_element_padding);
        background-color: var(--button_shadow_color);
    }

    .card_element{
        padding: 0px var(--internal_element_padding);
        font-size: 0.8rem;
        border-left: 2px solid transparent;
        margin: 5px 0px;

        &.actual {
            border-left: 2px solid green;
        }
        &:hover{
            background-color: var(--button_shadow_color);
        }
    }
};

main {
    margin: 0px 5px;
    grid-area: super_bar;
    video {
        width: 100%;
        max-height: 100vh;
    }
}